* {
    box-sizing: border-box;
    font-family: Times;
}

body {
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
    color: black;
}

section>h2 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 1px;
    width: 300px;
    text-align: center;
    font-style: Times;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    padding-top: 10px;
}

section.palace>h2 {
    background-color: #D6001C;
}

section.association>h2 {
    background-color: #D6002C;
}

section.bens>h2 {
    background-color: #D6003C;
}

section>p {
    margin-top: 2em;
    padding: 5px;
    min-height: 450px;
}

.row {
    width: 100%;
}






@media (min-width: 992px) {
    .my-lg-col-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .my-md-col-6 {
        float: left;
        width: 50%;
    }
    .my-md-col-12 {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .my-sm-col-12 {
        float: left;
        width: 100%;
    }
}

